<!DOCTYPE html>
<html>
<head>
    <title>She said Yes!</title>
    <style>
        body {
            text-align: center;
            font-family: Arial, sans-serif;
            background: #ffe6f0;
            padding-top: 80px;
        }
        h1 {
            color: #d63384;
        }
        img {
            width: 250px;
            margin-top: 20px;
        }
    </style>
</head>
<body>

    <h1>Thanks for accepting my proposal, bae 💕</h1>

    <img src="{{ url_for('static', filename='photo2.jpg') }}">

</body>
</html>
